#about {
  display: flex;
  height: 100%;
  padding: 25px;
  flex-direction: row;
}

#about h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

#about-content {
  flex: 1;
  font-size: 1.75rem;
  white-space: pre-wrap;
}

#about-text-container {
  overflow: auto;
}

#about-illustration {
  display: none;
}

@media only screen and (min-width: 849px) {
  #about-illustration {
    display: block;
    width: 327px;
    padding: 25px;
    margin-right: 25px;
    background-color: rgba(255, 0, 0, 0.5);
  }

  #about-content {
    display: flex;
  }
}
