/* INTERNAL PAGE CSS */

/* Alexa rules */

#AlexaContainer {
  flex: 1;
  display: flex;
}

#Description {
  flex: 1;
  padding-top: 125px;
  padding-left: 50px;
  padding-right: 175px;
  padding-bottom: 25px;
  text-align: left;
  background-color: papayawhip;
}

#AlexaPic {
  display: flex;
}

#h1ForAlexa {
  padding: 26px;
}

#Alexa {
  flex: 1;
  background-color: papayawhip;
  margin-top: 52px;
}
