/* App bar rules */

#app-bar-menu {
  z-index: 1;
  flex: 1;
  display: flex;
  height: 80px;
}

#app-bar-menu a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
}

#app-bar-menu a:hover {
  border-top: yellow solid 4px;
}

#app-bar-menu a.active {
  border-top: yellow solid 6px;
}

#app-bar-menu p {
  margin: 0;
}

#button-border {
  border-right: lightgrey dotted 0.5px;
  width: 1px;
}

@media only screen and (min-width: 849px) {
  #app-bar-menu {
    display: none;
  }
}
