/* App bar rules */

#app-bar-menu {
  flex: 1;
  display: flex;
  height: 80px;
  background-color: black;
}

#app-bar-menu a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#app-bar-menu a:hover {
  background-color: yellow;
  color: black;
}

#app-bar-menu a.active {
  background-color: yellow;
  color: red;
}

#app-bar-menu p {
  margin: 0;
}

#button-border {
  border-right: red dotted 0.5px;
  width: 1px;
  /* height: 80px; */
}

@media only screen and (min-width: 849px) {
  #app-bar-menu {
    display: none;
  }
}
