/* https://meyerweb.com/eric/tools/css/reset/ */

@media only screen and (max-width: 900px) {
  main {
    flex-direction: column;
    position: relative;
  }

  .left {
    flex: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    height: 100%;
  }

  .left nav {
    display: none;
  }

  .left h1 {
    margin: 0px;
    flex: 0;
    padding: 25px;
  }

  footer {
    flex: 1;
    display: flex;
  }

  .borderline {
    width: 1px;
    border: 0.2px solid red;
  }

  footer p {
    white-space: prewrap;
    margin-left: 1px;
    display: flex;
    align-items: center;
  }

  footer nav {
    display: flex;
    height: 35px;
  }
}
