/* BUSINESS CARD CSS */

#business-card.inactive {
  display: none;
}

#business-card.active {
  z-index: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 52px;
  bottom: 80px;
  width: 100%;
  background-color: #f5e900;
  background-image: url('https://www.transparenttextures.com/patterns/starring.png');
}

.home #business-card.active {
  z-index: 2;
  bottom: 55px;
}

#business-card #card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 350px;
  align-self: center;
  background-color: #6100f2;
  background-image: url('https://www.transparenttextures.com/patterns/3px-tile.png');
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: lightgoldenrodyellow;
  box-shadow: 0 0 0.75em black;
}

#business-card #card:hover {
  transform: rotate(3deg);
  color: lightgoldenrodyellow;
  text-shadow: 0.5px 1px 2px black;
}

#business-card p {
  margin-left: 70px;
}

#business-card .line {
  background-color: white;
  width: 80%;
  height: 2px;
  margin-left: 70px;
}

@media only screen and (min-width: 849px) {
  #business-card.active {
    bottom: 55px;
  }
}
