/* Footer rules */

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  height: 80px;
  background-color: black;
  pointer-events: all;
}

footer.block {
  pointer-events: none;
}

#home-page-footer {
  height: 55px;
  z-index: 2;
}

#footer-text {
  display: flex;
  font-size: 1.3rem;
}

#footer-text p:first-child:hover {
  color: yellow;
}

#footer-text.app-bar-active {
  display: none;
}

#footer-text p {
  margin-right: 15px;
}

#footer-text p:first-child {
  cursor: pointer;
}

@media only screen and (min-width: 849px) {
  footer {
    height: 55px;
  }

  #footer-text.app-bar-active {
    display: flex;
  }
}
