/* Footer rules */

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  height: 48px;
  background-color: black;
}

footer p {
  margin-right: 15px;
}

footer nav {
  display: none;
}

.app-bar-text {
  display: none;
}

@media only screen and (max-width: 900px) {
  footer {
    /* display: flex; */
  }

  .borderline {
    width: 1px;
    border: 0.2px solid red;
  }

  footer p {
    white-space: prewrap;
    margin-left: 1px;
    display: flex;
    align-items: center;
  }

  footer nav {
    display: flex;
    align-items: center;
    height: 35px;
  }

  .copyright {
    display: none;
  }
}
