/*

CSS For Home, Header, Topics, ChPreview, & Footer

*/

@import 'more.css';

#Header.transparent {
  flex: 1;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 52px;
  color: white;
  background-color: transparent;
  transition: background-color .7s, color .7s;
  display: flex;
}

#Header.opaque {
  flex: 1;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 52px;
  color: white;
  background-color: dodgerblue;
  transition: background-color .7s, color .7s;
  display: flex;
}

#LeftContainer {
  flex: 2;
  display: flex;
}

#Name {
  flex: 1;
}

#Motto {
  flex: 6;
}

#RightContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-top: 15px;
  padding-right: 25px;
}

.link {
  color: white;
}

.link:hover {
  color: red;
}

#NameAndLink {
  flex: 1;
}

#MottoAndLink {
  flex: 1;
}

.pForHeader {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 25px;
  text-align: left;
}

#HomeWrapper {
  width: 100%;
  position: fixed;
  z-index: 0;
}

#PermanentContent {
  z-index: 1;
}

#StaticImage {
  position: relative;
  z-index: 1;
  height: 100%;
}

#ScalingImage {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 0;
  right: 0;
  z-index: 1;
}

#TemporaryContent {
  position: fixed;
  width: 100%;
  height: 93.3%;
  top: 52px;
}

#PointerControl.block {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#PointerControl.allow {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#ContentContainer {
  flex: 1 1 100%;
  flex-direction: column;
  display: flex;
}

#TopicsContainer {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Topics.home {
  flex: 1;
  display: flex;
}

#Topics.notHome {
  flex: 1;
  display: flex;
  width: 100%;
  z-index: 1;
}

#TopicContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: .5px solid red;
}

#Spacer {
  flex-grow: 1;
}

.h3ForChPreview {
  padding-left: 25px;
  padding-right: 25px;
}

.pForChPreview {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.topicLink {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(0,0,0,.25);
}

.topicLink:hover {
  background-color: rgba(255,0,0,.3);
  color: white;
}

#FooterContainer {
  flex: 1;
  height: 54px;
  background-color: black;
}

#Scroller {
  height: 4000px;
}

#Footer.home {
  display: flex;
  color: white;
  justify-content: flex-end;
  padding-top: 16px;
  padding-bottom: 16px;
}

#Footer {
  display: flex;
  color: white;
  justify-content: flex-end;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: black;
}


#Email {
  flex: 3;
}

#JnLFooter {
  flex: 1;
}

.pForFooter {
  margin-right: 10px;
}

.NavLinkActive {
  color: red;
}

.headerLink {
  color: white;
}
