/* HOME PAGE CSS */

html {
  font-family: lato;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

.home {
  background: url('/test/howls-background-dl.jpg') no-repeat fixed center top;
}

.wrapper {
  width: 100%;
  position: fixed;
  z-index: 0;
}

.wrapper header {
  position: relative;
}

.scroller {
  height: 4000px;
}

.scrolling-image {
  /* position: fixed; */
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  object-fit: cover;
}

@import 'css-reset.css';
/* @import 'app-view.css'; */
@import 'header.css';
/* @import 'more.css'; */
@import 'footer.css';
@import 'responsive.css';
@import 'temp-home-content.css';
@import 'inner-page.css';
@import 'my-projects.css';
@import 'my-story.css';
@import 'journalism-n-law.css';
@import 'alexa.css';
@import 'react-table.css';

/* https://learn.shayhowe.com/html-css/positioning-content/ */
