/* INTERNAL PAGE CSS */

.inner-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  display: flex;
  /* background-color: papayawhip; */
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background-color: silver; */
}

.right {
  flex: 2;
}

.left h1,
.left p,
.chapter p {
  margin-left: 25px;
  margin-right: 25px;
  white-space: pre-wrap;
}

.left nav {
  display: flex;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  height: 40px;
}

.left a p {
  text-align: center;
  flex: 1;
}

.left a.active {
  flex: 1;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
}

.left a.inactive {
  flex: 1;
  color: black;
  border: 0.5px solid red;
  display: flex;
  /* background-color: silver; */
  align-items: center;
}

.left a.inactive:hover {
  background-color: red;
  color: white;
}

@media only screen and (max-width: 900px) {
  main {
    flex-direction: column;
    position: relative;
  }

  .left {
    /* flex: 0; */
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .left nav {
    display: none;
  }

  .left h1 {
    margin: 0px;
    flex: 0;
    padding: 25px;
  }
}
