/* Journalism and law rules */

#article {
  margin: 25px;
}

#article h3 {
  font-style: italic;
}

#hed p {
  font-size: 2rem;
  margin-bottom: 15px;
}

#article h3 {
  font-size: 2rem;
  margin-bottom: 4px;
}

#article-container {
  overflow: auto;
  line-height: normal;
}

#article-container p {
  margin-bottom: 15px;
}

#article h1 {
  margin-bottom: 10px;
  font-size: 3rem;
}

#text {
  font-size: 1.75rem;
}

@media only screen and (min-width: 849px) {
  #desktop-article-navigation {
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 25px;
    min-width: 324px;
    max-width: 327px;
    background-color: cornflowerblue;
  }

  #desktop-article-navigation a.active {
    color: yellow;
  }

  #desktop-article-navigation a.active:hover {
    color: black;
  }

  #desktop-article-navigation a.inactive {
    color: white;
  }

  #desktop-article-navigation a.inactive:hover {
    color: navy;
  }

  #desktop-article-navigation #article-list {
    overflow: auto;
  }

  #desktop-article-navigation h1 {
    color: black;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  #article {
    margin-left: 0;
    min-width: 400px;
  }

  #journalism {
    flex-direction: row;
    line-height: normal;
  }

  #source {
    font-size: 1.5rem;
    font-style: italic;
  }

  #hed {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }
}
