/* Legal CSS */

#legal {
  display: none;
}

.home #legal.active,
#legal.active.about {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 52px;
  bottom: 80px;
  width: 100%;
  background-color: whitesmoke;
  color: black;
}

.home #legal.active {
  z-index: 2;
  bottom: 55px;
}

@media only screen and (min-width: 849px) {
  #legal.active,
  #legal.active.about {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 52px;
    bottom: 55px;
    width: 100%;
    background-color: whitesmoke;
    color: black;
  }
}
