/* Legal CSS */

#legal {
  display: none;
}

#legal.active.about {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 52px;
  bottom: 80px;
  width: 100%;
  background-color: navy;
  background-image: url('https://www.transparenttextures.com/patterns/my-little-plaid.png');
}

#legal.active {
  color: lightgoldenrodyellow;
}

.home #legal.active {
  z-index: 2;
  /* bottom: 55px; */
}

@media only screen and (min-width: 849px) {
  #legal.active,
  .home #legal.active,
  #legal.active.about {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 52px;
    bottom: 55px;
    width: 100%;
    /* color: white; */
    background-color: navy;
    background-image: url('https://www.transparenttextures.com/patterns/my-little-plaid.png');
  }
}
