/* HOME PAGE CSS */

#magic-image {
  width: 100%;
  min-height: 100vh;
  /* z-index: 1; */
  object-fit: cover;
  position: fixed;
  top: 52px;
}

#magic-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: all;
  z-index: 2;
}

#magic-content.block {
  pointer-events: none;
}

#magic-nav {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  overflow: auto;
}

#magic-nav-content {
  padding-bottom: 25px;
}

#magic-nav a {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  min-height: 100%;
}

#magic-nav a:nth-child(-n + 2) {
  border-bottom: 0.5px solid red;
}

#magic-nav a:hover {
  background-color: rgba(255, 0, 0, 0.3);
  color: white;
}

#magic-scroller {
  height: 4000px;
}

@media only screen and (min-width: 666px) {
  #magic-nav {
    flex: 1;
    display: flex;
  }

  #magic-nav a:nth-child(-n + 2) {
    border-bottom: none;
    border-right: 0.5px solid red;
  }
}
