/* Full Page Index Menu rule */

#site-menu {
  align-items: center;
  background-image: url('https://www.transparenttextures.com/patterns/my-little-plaid.png');
  background-color: navy;
  color: white;
}

#close-button {
  font-size: 2rem;
  align-self: flex-end;
  color: lightseagreen;
  margin-top: 25px;
  margin-right: 25px;
}

#close-button:hover {
  color: lightgoldenrodyellow;
}

#menu-description {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 25px;
  max-width: 507px;
  padding-bottom: 8px;
  border-bottom: white dotted 0.5px;
}

#site-menu .chapter-menu,
#site-menu .journalism-menu,
#site-menu .projects-menu {
  overflow: auto;
  margin: 15px 25px 25px;
  flex: 1;
}

#site-menu .chapter-menu a.active,
#site-menu .journalism-menu a.active {
  color: deepskyblue;
}

#site-menu .chapter-menu a.active:hover,
#site-menu .journalism-menu a.active:hover {
  /* color: lightgoldenrodyellow; */
}

#site-menu .chapter-menu a.inactive,
#site-menu .journalism-menu a.inactive {
  color: white;
}

#site-menu .chapter-menu a.inactive:hover,
#site-menu .journalism-menu a.inactive:hover {
  color: lightgoldenrodyellow;
}

#site-menu #source {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 2px;
}

#site-menu #hed {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

#contents-list #story-chapter {
  font-style: italic;
  margin-bottom: 2px;
}

.chapter-menu p {
  font-size: 3rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 25px;
}

.projects-menu {
  max-width: 563px;
}

#site-menu .project-thumbnails {
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.project-thumbnails a {
  display: flex;
  align-items: flex-start;
  min-width: 0;
}

.project-thumbnails a:not(:last-child) {
  margin-right: 5px;
}

.project-thumbnails img {
  flex: 1;
  min-width: 0;
  max-width: 100%;
}

#site-menu .project-thumbnails:nth-child(-n + 2) {
  margin-bottom: 20px;
}

.chapter-menu h1 {
  font-size: 1.4rem;
  margin-bottom: 6px;
}

#site-menu #nav-group h1 {
  font-size: 1.6rem;
  margin-bottom: 7px;
}

#site-menu #nav-group:hover {
  color: lightgoldenrodyellow;
}
