/*

CSS For AppRouter, AlexaStories, Chapter, ChNav, JandL, Projects

*/

#PageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#RouterContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#ChapterContainer {
  flex: 1;
  display: flex;
  margin-top: 52px;
}

#Story {
  flex: 1;
  background-color: silver;
}

#h1ForChapter {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

#pForChapter {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  white-space: pre-wrap;
}

#Picture {
  flex: 2;
  background-color: papayawhip;
}

#PictureContainer {
  flex: 1;
  background-color: papayawhip;
  margin-top: 52px;
  display: flex;
}

.BoxForProject {
  display: flex;
  flex-direction: column;
}

#ProjectBox {
  flex: 1;
  margin-right: 15px;
}

#ProjectHolder {
  flex: 1;
  margin: 15px;
  border: .5px solid blue;
}

#ThumbnailBox {
  flex: 1;
  margin-right: 15px;
}

#PictureBox {
  flex: 4;
}

.FrameForProject {
  flex: 1;
  border: .5px solid red;
  display: flex;
  flex-direction: column;
}

#ProjectItems {
  flex: 1;
  margin: 15px;
  border: .5px solid blue;
}

#MasterBox {
  flex: 1;
  display: flex;
  margin: 25px;

}

.ThumbPics {
  display: flex;
  flex-direction: column;
}

.ThumbPic {
  flex: 1;
  margin: 15px;
  border: .5px solid blue;
}

.h3ForProject {
  text-align: center;
}

#PicHolder {
  flex: 1;
  margin: 15px;
  border: .5px solid blue;
}

#h1ForProjects {
  padding: 25px;
}

#Alexa {
  flex: 1;
  background-color: papayawhip;
  margin-top: 52px;
}

#h1ForAlexa {
  padding: 26px;
}

#JnL {
  flex: 1;
  background-color: papayawhip;
  margin-top: 52px;
}

#h1ForJnL {
  padding: 25px;
}

#NotFound {
  flex: 1;
  background-color: papayawhip;
  margin-top: 52px;
}

#h1ForNotFound {
  padding: 25px;
}

#chNavContainer {
  display: flex;
  flex: 1;
}

#ChapterNavItems {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.pForChapterNav {
  white-space: pre-wrap;
  text-align: center;
}

.linkForNav {
  color: white;
  flex: 1;
  justify-content: space-evenly;
  border: 1px solid red;
  padding-top: 3px;
  padding-bottom: 3px;
}

#projectLinks.inactive {
  margin: 25px;
  color: black;
}

#projectLinks.inactive:hover {
  color: blue;
}

#projectLinks.active {
  margin: 25px;
  color: blue;
}

.imgThumbs {
  width: 100%
}

.linkForNav.active {
  background-color: red;
  color: white;
}

.linkForNav:hover {
  background-color: red;
  color: white;
}

