/*

CSS For AppRouter, AlexaStories, Chapter, ChNav, JandL, Projects

*/

#PageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#RouterContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#ChapterContainer {
  flex: 1;
  display: flex;
}

#Story {
  flex: 1;
  background-color: silver;
}

#h1ForChapter {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

#pForChapter {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  white-space: pre-wrap;
}

#pForCaption {
  white-space: pre-wrap;
}

#Picture {
  flex: 2;
  background-color: papayawhip;
}

#ProjectContainer {
  flex: 1;
  background-color: papayawhip;
  display: flex;
}

#ProjectNav {
  flex: 1;
  display: flex;
  margin-bottom: 15px;
  height: 40px;
}

#ProjectContent {
  flex: 1;
  display: flex;
  margin: 25px;
}

#MainPicture {
  margin-bottom: 15px;
  flex: 1;
}

#Alexa {
  flex: 1;
  background-color: papayawhip;
  margin-top: 52px;
}

#h1ForAlexa {
  padding: 26px;
}

#JnL {
  flex: 1;
  background-color: papayawhip;
  margin-top: 52px;
}

#h1ForJnL {
  padding: 25px;
}

#NotFound {
  flex: 1;
  background-color: papayawhip;
  margin-top: 52px;
}

#h1ForNotFound {
  padding: 25px;
}

#chNavContainer {
  display: flex;
  flex: 1;
}

#ChapterNavItems {
  display: flex;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  height: 40px;
}

.pForChapterNav {
  white-space: pre-wrap;
  text-align: center;
  flex: 1;
}

.linkForNav.active {
  flex: 1;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
}

.linkForNav.inactive {
  flex: 1;
  color: black;
  border: .5px solid red;
  display: flex;
  align-items: center;
}


.linkForNav.inactive:hover {
  background-color: red;
  color: white;
}

.projectLinks.active {
  text-align: center;
  flex: 1;
}

.projectLinks.inactive {
  text-align: center;
  flex: 1;
}

.imgThumbs {
  height: 75px;
  margin-right: 10px;
}

#ProjectElements {
  display: flex;
  flex-direction: column;
}

#Caption {
  flex: 1;
}

#CapAndNav {
  flex: 1;
  margin: 25px;
}

#AlexaContainer {
  flex: 1;
  display: flex;
}

#Description {
  flex: 1;
  padding-top: 125px;
  padding-left: 200px;
  padding-right: 35px;
  padding-bottom: 25px;
  text-align: right;
  background-color: papayawhip;
}

#AlexaPic {
  flex: 1;
}

#AlexaImg {
  height: 100%;
}

#JnLContainer {
  flex: 1;
  display: flex;
  background-color: papayawhip;
}


#List {
  margin: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#PDFStory {
  flex: 1.5;
  background-color: white;
  text-align: center;
  overflow: auto;
}

.ReactTable {
  border: none;
  flex: 1;
}

.ReactTable .rt-thead.-header {
  box-shadow: none;
}

.ReactTable .rt-tbody .rt-tr-group {
  border: none;
}

.ReactTable .rt-tbody .rt-td {
  border: none;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
  border: none;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
  text-align: left;
}

.my-column-header-group {
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.ReactTable .-pagination {
  box-shadow: none;
  border-top: 1px solid rgba(0,0,0,0.1)
}

.rt-td .active {
  color: red;
}
