/*

CSS For AppRouter, AlexaStories, Chapter, ChNav, JandL, Projects

*/

#PageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#RouterContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#ChapterContainer {
  flex: 1;
  display: flex;
  margin-top: 52px;
}

#Story {
  flex: 1;
  background-color: silver;
}

#h1ForChapter {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

#pForChapter {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  white-space: pre-wrap;
}

#pForCaption {
  white-space: pre-wrap;
}

#Picture {
  flex: 2;
  background-color: papayawhip;
}

#ProjectContainer {
  flex: 1;
  background-color: papayawhip;
  margin-top: 52px;
  display: flex;
  flex-direction: column;
}

#ProjectNav {
  flex: 1;
  display: flex;
  margin-bottom: 15px;
  height: 40px;
}

#ProjectContent {
  flex: 1;
  display: flex;
  margin: 25px;
}

#MainPicture {
  margin-bottom: 15px;
  flex: 1;
}

#Alexa {
  flex: 1;
  background-color: papayawhip;
  margin-top: 52px;
}

#h1ForAlexa {
  padding: 26px;
}

#JnL {
  flex: 1;
  background-color: papayawhip;
  margin-top: 52px;
}

#h1ForJnL {
  padding: 25px;
}

#NotFound {
  flex: 1;
  background-color: papayawhip;
  margin-top: 52px;
}

#h1ForNotFound {
  padding: 25px;
}

#chNavContainer {
  display: flex;
  flex: 1;
}

#ChapterNavItems {
  display: flex;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  height: 40px;
}

.pForChapterNav {
  white-space: pre-wrap;
  text-align: center;
  flex: 1;
}

.linkForNav.active {
  flex: 1;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
}

.linkForNav.inactive {
  flex: 1;
  color: black;
  border: .5px solid red;
  display: flex;
  align-items: center;
}


.linkForNav.inactive:hover {
  background-color: red;
  color: white;
}

.projectLinks.active {
  text-align: center;
  flex: 1;
}

.projectLinks.inactive {
  text-align: center;
  flex: 1;
}

.imgThumbs {
  height: 75px;
  margin-right: 10px;
}

#ProjectElements {
  display: flex;
  flex-direction: column;
}

#Caption {
  flex: 1;
}

#CapAndContent {
  display: flex;
}

#CapAndNav {
  flex: 1;
  margin: 25px;
}
