/* My projects rules */

#my-projects {
  display: flex;
}

#images-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.project-image {
  line-height: 0;
  margin-bottom: 5px;
}

.project-image img {
  max-width: 100%;
}

.project-thumbnails {
  display: flex;
  min-width: 0;
  max-width: 65%;
  line-height: 0;
}

.project-thumbnails a {
  display: flex;
  align-items: flex-start;
  min-width: 0;
}

.project-thumbnails a:not(:last-child) {
  margin-right: 5px;
}

.project-thumbnails img {
  flex: 1;
  min-width: 0;
  max-width: 100%;
}

@media only screen and (min-width: 536px) {
  #images-container {
    flex-direction: row-reverse;
  }

  .project-image {
    margin-bottom: 0px;
  }

  #thumbnails-main {
    flex-direction: column;
  }

  #thumbnails-main a:not(:last-child) {
    margin-bottom: 5px;
  }

  #thumbnails-main a:last-child {
    /*
    ~ja Needed too offset this mobile rule:
    .project-thumbnails a:not(:last-child)
    */
    margin-right: 5px;
  }
}

@media only screen and (min-width: 849px) {
  .left {
    display: flex;
  }

  #my-projects {
    flex-direction: row;
  }

  #desktop-nav {
    flex: 1;
    min-width: 0;
    flex-direction: column;
  }

  #nav-group {
    min-width: 0;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 25px;
  }

  #nav-group h1 {
    margin: 0;
  }

  #nav-group h1:not(:last-child) {
    margin-bottom: 10px;
  }

  #images-container {
    flex-direction: row;
    max-width: 824.67px;
    align-self: center;
  }

  #thumbnails-main a,
  #thumbnails-main a:last-child {
    margin-right: 0px;
    margin-left: 5px;
  }

  #nav-group nav {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1265px) {
  #thumbnails-main {
    flex-direction: row;
  }

  #images-container {
    max-width: 100%;
  }
}
