/* My projects rules */

#desktop-project-nav {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

#desktop-project-nav h1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
}

#desktop-project-nav a {
  margin-right: 2px;
  margin-bottom: 5px;
}

/* #project-info {
  max-width: 300px;
} */

#project-images {
  display: flex;
  flex-direction: column;
  /* max-width: 822.67px; */
  /* max-width: 517.33px; */
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
}

#images-container {
  display: flex;
  flex-direction: row;
}

#images-container .project-thumbnails {
  flex-direction: column;
}

.right blockquote {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85px;
  flex: 1;
  background-color: deepskyblue;
  color: white;
}

.right blockquote:first-child {
  margin-bottom: 15px;
}

.right blockquote:last-child {
  margin-top: 15px;
  font-size: 2rem;
}

#project-info h1 {
  margin-top: 15px;
  font-size: 1.5rem;
}

.project-text {
  font-weight: bold;
}

.project-image {
  line-height: 0;
  /* margin-bottom: 5px; */
  /* overflow: hidden; */
}

.project-image img {
  width: 100%;
  /* max-width: 515.33px; */
}

#thumbnails-main {
  display: flex;
  max-width: 339.73px;
}

#thumbnails-main a {
  margin-left: 5px;
  margin-bottom: 5px;
}

.project-thumbnails {
  display: flex;
  line-height: 0;
}

#desktop-project-nav .thumbnail {
  max-width: 95%;
}

#project-images .thumbnail {
  max-width: 95%;
}

@media only screen and (max-width: 758px) {
  #my-projects {
    justify-content: space-between;
    background-color: whitesmoke;
  }

  #project-info {
    display: none;
  }

  #project-images {
    max-width: 490px;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    display: block;
    flex: none;
    margin: 25px;
  }

  #images-container {
    display: block;
  }

  #images-container .project-thumbnails {
    flex-direction: row;
  }

  .project-image {
    overflow: initial;
    margin-bottom: 5px;
  }

  .project-image img {
    /* max-width: 100%; */
  }

  #thumbnails-main {
    display: flex;
  }

  #thumbnails-main a {
    margin-right: 2px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .right blockquote {
    display: none;
  }
}

@media only screen and (min-width: 540px) and (max-width: 758px) {
  #project-images {
    display: flex;
    flex-direction: row-reverse;
    max-width: 710px;
  }

  #images-container {
    display: flex;
    flex-direction: row-reverse;
  }

  #images-container .project-thumbnails {
    flex-direction: column;
  }

  .project-image {
    margin-bottom: 0px;
  }

  .project-thumbnails {
    display: flex;
    flex-direction: column;
  }

  #thumbnails-main a {
    margin-right: 0px;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 880px) {
  /* #project-images .thumbnail {
    flex-direction: column;
    max-width: 95%;
  } */
}
