/* My projects rules */

#project-images {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.pull-quote {
  display: none;
}

#project-info h1 {
  margin-top: 25px;
}

.project-text {
  font-weight: bold;
}

.project-image {
  margin-bottom: 15px;
  overflow: hidden;
  /* flex: 1; */
}

.project-image img {
  width: 100%;
}

.thumbnail {
  height: 75px;
  margin-right: 10px;
}

@media only screen and (max-width: 900px) {
  #my-projects {
    justify-content: space-between;
  }

  #project-info {
    display: none;
  }

  #project-images {
    margin-top: 10px;
    justify-content: flex-end;
    display: block;
    flex: none;
    /* min-height: 379px; */
    /* overflow: hidden; */
    /* flex: initial; */
  }

  .project-image {
    display: flex;
    overflow: initial;
  }

  .project-image img {
    height: 100%;
  }
}
