/* My story rules */

#story-media {
  display: flex;
  flex-direction: column;
  margin: 0px;
  overflow: hidden;
}

#story-media img {
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 900px) {
  #chapter {
    display: none;
  }
}
