/* My projects rules */

#my-projects {
  line-height: normal;
}

#my-projects h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#active-project {
  margin: 25px;
  overflow: auto;
}

#active-project #type {
  font-size: 1.7rem;
  margin-bottom: 15px;
}

#active-project h2 {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 7px;
}

#active-project p {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

#project-images {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  border: lightgrey dotted 0.5px;
}

#project-images .project-thumbnails {
  display: flex;
  padding-bottom: 7px;
  border-bottom: lightgrey dotted 0.5px;
}

#project-images .project-thumbnails img {
  max-width: 100%;
  vertical-align: bottom;
}

#project-images .project-thumbnails a:nth-child(-n + 2) {
  margin-right: 5px;
}

#main-image p {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.7rem;
}

#main-image img {
  flex: 1;
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media only screen and (min-width: 672px) {
  #project-images {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  #project-images .project-thumbnails {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 31px;
    padding-bottom: 0px;
    padding-left: 7px;
    border-bottom: none;
    border-left: lightgrey dotted 0.5px;
  }

  #project-images .project-thumbnails a:nth-child(-n + 2) {
    margin-right: 0;
    margin-bottom: 5px;
  }

  #project-images .project-thumbnails img {
    max-width: 100%;
  }

  #main-image {
    display: flex;
    flex-direction: column;
  }

  #main-image p {
    margin-top: 0;
  }

  #main-image img {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 849px) {
  #my-projects {
    flex-direction: row;
  }

  #active-project {
    margin-left: 0;
  }

  #project-images {
    flex-direction: column;
  }

  #project-images .project-thumbnails {
    flex-direction: row;
    margin-top: 0;
    padding-left: 0;
    padding-bottom: 7px;
    border-bottom: lightgrey dotted 0.5px;
    border-left: none;
  }

  #project-images .project-thumbnails a:nth-child(-n + 2) {
    margin-right: 5px !important;
    margin-bottom: 0;
  }

  #main-image p {
    margin-top: 10px;
  }

  #main-image img {
    margin-right: 0;
  }

  #desktop-project-nav {
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 25px;
    max-width: 20%;
    min-width: 327px;
    background-color: #6100f2;
    background-image: url('https://www.transparenttextures.com/patterns/debut-light.png');
    color: white;
  }

  #desktop-project-nav #content h1 {
    border: none;
    font-size: 2rem;
    padding: 0;
    margin-bottom: 7px;
  }

  #desktop-project-nav #content h2 {
    color: white;
    font-style: italic;
    padding-bottom: 7px;
    margin-bottom: 10px;
    border-bottom: white dotted 0.5px;
  }

  #desktop-project-nav #nav-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  #desktop-project-nav #nav-group h1 {
    font-size: 1.5rem;
    margin-bottom: 7px;
  }

  #desktop-project-nav #nav-group:hover h1 {
    color: lightgoldenrodyellow;
  }

  #desktop-project-nav .project-thumbnails {
    display: flex;
  }
}

@media only screen and (min-width: 1072px) {
  #project-images {
    flex-direction: row-reverse;
  }

  #project-images .project-thumbnails {
    flex-direction: column;
    margin-top: 31px;
    padding-left: 7px;
    border-bottom: none;
    border-left: lightgrey dotted 0.5px;
    max-height: 100%;
  }

  #project-images .project-thumbnails a:nth-child(-n + 2) {
    margin-right: 0px !important;
    margin-bottom: 5px;
  }

  #main-image img {
    margin-right: 10px;
  }

  #main-image p {
    margin-top: 0;
  }
}
