/* Reverie CSS */

#reverie {
  background-image: url('https://www.transparenttextures.com/patterns/my-little-plaid.png');
  background-color: navy;
  color: white;
}

#reverie h1 {
  font-size: 1.75rem;
  font-style: italic;
  color: deeppink;
}

#reverie h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 7px;
}

#reverie-unused {
  display: none;
}

#reverie-content {
  padding: 25px;
}
