/* Full Page Index Menu rule */

#site-menu {
  align-items: center;
}

#close-button {
  align-self: flex-end;
  margin-top: 25px;
  margin-right: 25px;
  color: red;
}

#site-menu .chapter-index,
#site-menu .journalism-index,
#site-menu .projects-index {
  overflow: auto;
  margin: 25px;
  flex: 1;
}

#site-menu .chapter-index a.active {
  color: blue;
}

#site-menu .chapter-index a.active:hover {
  color: black;
}

#site-menu .chapter-index a.inactive {
  color: black;
}

#site-menu .chapter-index a.inactive:hover {
  color: cornflowerblue;
}

#site-menu #source,
#site-menu .chapter-index {
  font-size: 1.75rem;
  font-style: italic;
  margin-bottom: 5px;
}

#site-menu #hed {
  font-size: 5rem;
  margin-bottom: 25px;
}

.chapter-index p {
  font-size: 5rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 25px;
}

.projects-index {
  max-width: 563px;
}

#site-menu .project-thumbnails {
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.project-thumbnails a {
  display: flex;
  align-items: flex-start;
  min-width: 0;
}

.project-thumbnails a:not(:last-child) {
  margin-right: 5px;
}

.project-thumbnails img {
  flex: 1;
  min-width: 0;
  max-width: 100%;
}

#site-menu .project-thumbnails:nth-child(-n + 2) {
  margin-bottom: 20px;
}

#site-menu h1 {
  font-size: 1.75rem;
  margin-bottom: 10px;
}
