/* My story rules */

#chapter {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 52px;
  bottom: 80px;
  padding: 25px;
  margin: 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#story-nav {
  display: flex;
  margin-bottom: 20px;
  min-height: 40px;
  border-bottom: whitesmoke dotted 0.5px;
}

#story-nav a p {
  flex: 1;
  text-align: center;
}

#story-nav a.active {
  flex: 1;
  color: whitesmoke;
  display: flex;
  align-items: center;
  border-top: whitesmoke dotted 0.5px;
}

#story-nav a.inactive {
  flex: 1;
  color: whitesmoke;
  display: flex;
  align-items: center;
}

#story-nav a.inactive:hover {
  color: lightyellow;
}

#chapter.inactive {
  display: none;
}

#chapter h1 {
  font-size: 3rem;
  line-height: normal;
  margin-bottom: 25px;
}

#chapter h2 {
  display: none;
}

#chapter p {
  font-size: 1.75rem;
  line-height: normal;
  white-space: pre-wrap;
  overflow: auto;
}

#illustration {
  margin: 25px;
}

#illustration img {
  object-fit: cover;
  overflow: hidden;
}

@media only screen and (min-width: 849px) {
  #the-story {
    flex-direction: row;
  }

  #chapter {
    width: 327px;
    position: unset;
    bottom: 48px;
    margin: 25px;
    background-color: #6100f2;
    color: white;
    background-image: url('https://www.transparenttextures.com/patterns/debut-light.png');
  }

  #chapter h2 {
    display: block;
    font-size: 1.75rem;
    margin-bottom: 7px;
  }

  #story-nav a.inactive:hover {
    color: deepskyblue;
  }

  #illustration {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 0px;
  }

  #illustration img {
    flex: 1;
    max-width: 100%;
  }
}
